
body {
    padding: 0;
    margin: 0;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    line-height: 150%;
    color: #333;
    background: #e3e2e2;
  }

header {
    background: white;
    margin: 0 auto;
    padding: 0;
  }

header h2 {
    color: white;
    line-height: 150%;
    text-align:center;
    margin: 0px;
    padding-top: 5px;
}

.left-header {
    background: #5F9EA0;
}

.logo {
    color: white;
}

main {
    margin: 45px;
    padding: 25px;
}

main h1 {
    color:  #5F9EA0;
}

main h3 {
    color:  #5F9EA0;
}

footer p {
    text-align:center;
    color:white;
    font-size: 12px;
    padding-top:10px;
}

footer {
    background: grey;
}

.primary-section {
    background: white;
    padding: 30px;
}

.side-panel img {
    margin: 10px;
}

.main-panel .img-thumbnail {
    float: left;
    width:250px;
    height: 200px;
    margin: 20px;
    padding: 10px;
}


th {
    text-align: center;
}

.comparison-charts {
    padding:40px;
    text-align: center;
}

.primary-image {
    width:600px;
    height: 400px;
    margin: 20px;
    padding: 10px;
}

.emphasis {
    border-color: rgb(95, 160, 150);
    border-width: 2px;
}